<!DOCTYPE html>
<html>
<head>
    <title> CSE_6332 Quiz-03 </title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f00c;
            height: 100vh;
            margin: 0;
        }
        h2 {
            color: darkred;
            font-size: large;
            font-style: italic;
        }
    </style>
</head>

<body>
    <div>
        <center>
            <h1 style="border: 4px solid Red; color: green;"> Welcome to CSE_6332 Quiz-03 <br><br> 
            Kintur Ketan Shah (1002178072)
            </h1>
        </center>

        <p style="font-size: large;"> Click on the below links to get started.</p>
        
        <ul>
            <h2> TASK-10 </h2>
            <li> <a class="navbar-brand" href="/task_1"> Find details by Time Range </a></li>
            <br> <br>
            <li> <a class="navbar-brand" href="/task_1_redis"> Find details by Time Range using Redis Cache</a></li>
            <br>

            <p style="font-size: large;">-----------------------------------------------------------------------------------------------------------</p>

            <h2> TASK-11 </h2>
            <li> <a class="navbar-brand" href="/task_11"> Task_11: Search by Time and Net Value</a></li>
            <br> <br>
            <li> <a class="navbar-brand" href="/task_11_redis"> Task_11 (Redis): Search by Time and Net Value using Redis Cache</a></li>
            <br> <br>
            
            <h2> TASK-12 </h2>
            <li> <a class="navbar-brand" href="/task_12"> Task_12: Repeated Queries </a></li>
            <br> <br>
            <li> <a class="navbar-brand" href="/task_12_redis"> Task_12 (Redis): Repeated Queries using Redis Cache</a></li>
            <br> <br>
        </ul>
</body>
</html>
